@font-face {
    font-family: ubuntu-Medium;
    src: url(../font/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url(../font/Ubuntu-BoldItalic.ttf);
}
*{
.slidbar_image{
    width: 100%;
    height: 70%;
    /* background-color: #000000; */

}
.slidbar_text_h3{

font-size: 100px;
font-weight: 500;
line-height: 115px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 35px;

}
.bage_color{
    color: var(--main-color-green);
    border-bottom: 1px solid var(--main-color-green);
}

.btn{

    width: 323px;
    height: 79px;
    background: var(--main-color-green);
    border-radius: 11px;
    color: var(--main-color-white);
    font-size: 30px;
    font-weight: 500;

    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 25px;
    margin: auto;


}

.btn img{
    width: 45px;
    height: 45px;
}



.slidbar_image img{
    width: 618.68px;
    height: 487.32px;
}
.delivery_service{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery_service_conatainer{
    width: 90%;
    height: 80%;
    /* background-color: red; */
}

.delivery_service_head_container{
    width: 100%;
    height: 100px;
    /* border: 1px solid; */
    /* background-color: #56AF58; */
}
.delivery_service_body_container{
    width: 100%;
    height: 331px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}
    .about_title{
        font-style: normal;
    font-weight: 500;
    font-size: 30px;
    }


.about_title_bage{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
  
}



.about_img{ 
    width:45% ;
    height: 100%;
   

}
.about_img img{
    width: 100%;
height: 331px;
object-fit: contain;
}
.about_text{
    width:45% ;
    height: 100%;
    /* background-color: saddlebrown; */
    display: flex;
align-items: center;
}
.about_text p{
    
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 29px;
}



































