@font-face {
    font-family: ubuntu-Medium;
    src: url(../font/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url(../font/Ubuntu-BoldItalic.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a{
    color:red
}
:root{
    --main-color-green: #56AF58;
    --main-color-black: #000000;
    --main-color-white: #FFFFFF;
    --slidbar-color: #EEF2FF;
    --ubuntu-Medium:ubuntu-Medium;
    --Ubuntu-BoldItalic: Ubuntu-BoldItalic;
}
body{
    font-family: var(--ubuntu-Medium);
   
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.logo{
    width: 10%;
    height: 112px;

}
.logo img{
    width: 112px;
    height: 112px;
}
nav{
    width: 50%;
    height: 82px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn{
    width: 20%;
    height: 82px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.webMenu{

    display: flex;
    gap:50px
}
.webMenu li{
    list-style: none;
}
.webMenu a.active{
    padding-bottom: 2px;
    border-bottom:1px solid  var(--main-color-green);
    color: var(--main-color-green);
}

.webMenu a{
    color: var(--main-color-black);
}


.signIn a{
font-size: 20px;
font-weight: 500;
color: var(--main-color-black);
}
.signIn button{
    width: 145px;
height: 44px;
font-size: 20px;
font-weight: 500;
color: var(--main-color-white);
background-color: var(--main-color-green);
border-radius: 11px;
border: none;
}
.slidbar{
    width: 100%;
    height: 700px;
    display: flex;

    background-color: var(--slidbar-color);
    /* border: 1px solid; */
    margin-bottom: 55px;
}
.slidone{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
 
}
.slidbar_text{
    width: 100%;
    height: 65%;
    /* background-color: red; */
  
}
.slidtwo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;

}

.slidbar_image{
    width: 100%;
    height: 70%;
    /* background-color: #000000; */

}
.slidbar_text_h3{

font-size: 100px;
font-weight: 500;
line-height: 115px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 35px;

}
.bage_color{
    color: var(--main-color-green);
    border-bottom: 1px solid var(--main-color-green);
}

.btn{

    width: 323px;
    height: 79px;
    background: var(--main-color-green);
    border-radius: 11px;
    color: var(--main-color-white);
    font-size: 30px;
    font-weight: 500;

    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 25px;
    margin: auto;


}

.btn img{
    width: 45px;
    height: 45px;
}



.slidbar_image img{
    width: 618.68px;
    height: 487.32px;
}
.delivery_service{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery_service_conatainer{
    width: 90%;
    height: 80%;
    /* background-color: red; */
}

.delivery_service_head_container{
    width: 100%;
    height: 100px;
    /* border: 1px solid; */
    /* background-color: #56AF58; */
}
.delivery_service_body_container{
    width: 100%;
    height: 331px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}
    .about_title{
        font-style: normal;
    font-weight: 500;
    font-size: 30px;
    }


.about_title_bage{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
  
}



.about_img{ 
    width:45% ;
    height: 100%;
   

}
.about_img img{
    width: 100%;
height: 331px;
object-fit: contain;
}
.about_text{
    width:45% ;
    height: 100%;
    /* background-color: saddlebrown; */
    display: flex;
align-items: center;
}
.about_text p{
    
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 29px;
}
.blog_body_container{
    width: 95%;
    margin: 0 auto 55px;
    display: flex;
    justify-content: space-between;
}
.blog_col{
    width: 30%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
}
.blogs{
    height: auto;
}
.blog_col img{
    width:100%;
    height: 286px;
}

.blog_head{
    width: 95%;
    height: 40px;
    margin: auto;
    /* background-color: #56AF58; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.blog_head h6{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
}
.blog_head img{
    width: 21.88px;
    height: 25px;
}
.blog_head time{
    font-style: normal;
font-weight: 400;
font-size: 15px;
}


.blog_text{
    width: 100%;
    height:160px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.blog_text_p{
    width: 80%;
    height: 60%;
    /* background-color: green; */
}
.blog_text p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.contact_color_about_title_contact {
    color: var(--main-color-green);
    border-bottom: 1px solid var(--main-color-green);
}
.contact{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
   
    

.contact_image{
    width: 130px;
    height: 300px;
 
   
}

.contact_image img
    {
        width: 118.5px;
        height: 158px;
    
    /* background-color: #000000; */
   
    
}
.contact_text{
    text-align: center;
    


}
.contact_text_text{
    text-align: center;
    color:#56AF58
    
     
}
.phone {
    width: 160px;
    height: 200px;
    /* background-color: black; */

} 
.contact_text{
    width: 151px;
    height: 25px;
    text-align: center;
    /* background-color: aqua; */
    

}   
.contact_text_text    {
    width: 140px;
    height: 23px; 
    color: var(--main-color-black);
}
.footer{
    width: 1440px;
    height: 123px;
    background-color: #EEF2FF;
}
.footer-text{
    Width:352px;
    height:25px;
    margin: 49px 1035px 0px 53px ;
    position: absolute;

}
.contact text{
color: #56AF58;
}




























